<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanksgiving Hoodies</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../assets/image/">
    <link rel="stylesheet" href="styyle.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <i class="fas fa-arrow-left">
            </i>
            Maize Thanksgiving
        </div>
        <div class="actions">
            <a href="#">
                Start Shopify Trial
            </a>
            <a class="btn" href="#">
                Try this template
            </a>
        </div>
    </div>
    <div class="main-content">
        <div class="text">
            <h1>
                Give Thanks In Style With Maize Hoodies
            </h1>
            <p>
                Discover Cozy and Fashionable Hoodies for Your Thanksgiving Celebrations
            </p>
            <a class="btn" href="#">
                SHOP NOW &amp; SAVE 20%
            </a>
        </div>
        <div class="image">
            <img alt="A person wearing a brown hoodie, smiling and posing with hands in pockets" height="600"
                src="img 1.webp" width="400" />
        </div>
    </div>
    <div class="buttons-container">
        <button class="button">
            AUTUMN SELECTION
        </button>
        <button class="button">
            CLASSIC ASSORTMENT
        </button>
        <button class="button">
            ZIP-UP HOODIE
        </button>
    </div>
    <div class="trending-section">
        <h1>
            Trending Now
        </h1>
        <div class="products">
            <div class="product">
                <img alt="Woman wearing Autumn Breeze Hoodie" height="200" src="img 2.webp" width="200" />
                <h2>
                    Autumn Breeze Hoodie
                </h2>
                <p>
                    $49.99
                </p>
                <div class="colors">
                    <span style="background-color: #8b0000;">
                    </span>
                    <span style="background-color: #006400;">
                    </span>
                    <span style="background-color: #00008b;">
                    </span>
                </div>
                <div class="sizes">
                    <span class="active">
                        S
                    </span>
                    <span>
                        M
                    </span>
                    <span>
                        L
                    </span>
                    <span>
                        XL
                    </span>
                </div>
                <button class="add-to-cart">
                    ADD TO CART
                </button>
            </div>
            <div class="product">
                <img alt="Man wearing Cozy Comfort Hoodie" height="200" src="img 3.webp" width="200" />
                <h2>
                    Cozy Comfort Hoodie
                </h2>
                <p>
                    $54.99
                </p>
                <div class="colors">
                    <span style="background-color: #00008b;">
                    </span>
                    <span style="background-color: #8b4513;">
                    </span>
                    <span style="background-color: #d2b48c;">
                    </span>
                </div>
                <div class="sizes">
                    <span class="active">
                        S
                    </span>
                    <span>
                        M
                    </span>
                    <span>
                        L
                    </span>
                    <span>
                        XL
                    </span>
                </div>
                <button class="add-to-cart">
                    ADD TO CART
                </button>
            </div>
            <div class="product">
                <img alt="Woman wearing Festive Fall Hoodie" height="200" src="img 4.webp" width="200" />
                <h2>
                    Festive Fall Hoodie
                </h2>
                <p>
                    $59.99
                </p>
                <div class="colors">
                    <span style="background-color: #8b4513;">
                    </span>
                    <span style="background-color: #d2b48c;">
                    </span>
                    <span style="background-color: #8b0000;">
                    </span>
                </div>
                <div class="sizes">
                    <span class="active">
                        S
                    </span>
                    <span>
                        M
                    </span>
                    <span>
                        L
                    </span>
                    <span>
                        XL
                    </span>
                </div>
                <button class="add-to-cart">
                    ADD TO CART
                </button>
            </div>
            <div class="product">
                <img alt="Man wearing Adventure Grey Hoodie" height="200" src="img 5.webp" width="200" />
                <h2>
                    Adventure Grey Hoodie
                </h2>
                <p>
                    $65.99
                </p>
                <div class="colors">
                    <span style="background-color: #000;">
                    </span>
                    <span style="background-color: #00008b;">
                    </span>
                    <span style="background-color: #708090;">
                    </span>
                </div>
                <div class="sizes">
                    <span class="active">
                        S
                    </span>
                    <span>
                        M
                    </span>
                    <span>
                        L
                    </span>
                    <span>
                        XL
                    </span>
                </div>
                <button class="add-to-cart">
                    ADD TO CART
                </button>
            </div>
        </div>
    </div>

    <div class="main-contentt">
        <h1>Cozy & Comfortable This Thanksgiving</h1>
        <p>This Thanksgiving, express gratitude in style with our premium hoodies. Embrace the warmth and joy of the
            holiday while staying comfortable and fashionable. Shop now to elevate your Thanksgiving celebration with
            Maize.</p>
        <a href="#" class="shop-now-button">SHOP NOW</a>
    </div>
    <div class="container">
        <h1 class="title">
            Top Picks For Thanksgiving
        </h1>
        <div class="tabs">
            <a class="active" href="#">
                Gift for him
            </a>
            <a href="#">
                Gift for her
            </a>
        </div>
        <div class="products">
            <div class="product">
                <img alt="Woman wearing Autumn Breeze Hoodie" height="200" src="img 6.webp" width="200" />
                <h2>Autumn Breeze Hoodie</h2>
                <p>$49.99</p>
                <div class="colors">
                    <span style="background-color: #8b0000;"></span>
                    <span style="background-color: #006400;"></span>
                    <span style="background-color: #00008b;"></span>
                </div>
                <div class="sizes">
                    <span class="active">S</span>
                    <span>M</span>
                    <span>L</span>
                    <span>XL</span>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
            <div class="product">
                <img alt="Man wearing Cozy Comfort Hoodie" height="200" src="img 7.webp" width="200" />
                <h2>Cozy Comfort Hoodie</h2>
                <p>$54.99</p>
                <div class="colors">
                    <span style="background-color: #00008b;"></span>
                    <span style="background-color: #8b4513;"></span>
                    <span style="background-color: #d2b48c;"></span>
                </div>
                <div class="sizes">
                    <span class="active">S</span>
                    <span>M</span>
                    <span>L</span>
                    <span>XL</span>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
            <div class="product">
                <img alt="Woman wearing Festive Fall Hoodie" height="200" src="img 8.webp" width="200" />
                <h2>Festive Fall Hoodie</h2>
                <p>$59.99</p>
                <div class="colors">
                    <span style="background-color: #8b4513;"></span>
                    <span style="background-color: #d2b48c;"></span>
                    <span style="background-color: #8b0000;"></span>
                </div>
                <div class="sizes">
                    <span class="active">S</span>
                    <span>M</span>
                    <span>L</span>
                    <span>XL</span>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
            <div class="product">
                <img alt="Man wearing Adventure Grey Hoodie" height="200" src="img 9.webp" width="200" />
                <h2>Adventure Grey Hoodie</h2>
                <p>$65.99</p>
                <div class="colors">
                    <span style="background-color: #000;"></span>
                    <span style="background-color: #00008b;"></span>
                    <span style="background-color: #708090;"></span>
                </div>
                <div class="sizes">
                    <span class="active">S</span>
                    <span>M</span>
                    <span>L</span>
                    <span>XL</span>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
    <div class="specials-section">
        <h1 class="section-title">Thanksgiving Season Specials</h1>

        <div class="specials">
            <div class="special-item">
                <div class="icon-container">
                    <img src="disc.png" alt="Exclusive Discounts">
                </div>
                <h3>Exclusive Discounts</h3>
                <p>Enjoy extra savings during the Thanksgiving season with our exclusive discount code: THANKS20</p>
            </div>

            <div class="special-item">
                <div class="icon-container">
                    <img src="free.webp" alt="Free Shipping">
                </div>
                <h3>Free Shipping</h3>
                <p>We’re spreading the holiday cheer by offering free shipping on all orders placed during the
                    Thanksgiving season.</p>
            </div>

            <div class="special-item">
                <div class="icon-container">
                    <img src="gift.webp" alt="Free Gift Wrapping">
                </div>
                <h3>Free Gift Wrapping</h3>
                <p>Free gift wrapping during Thanksgiving. Make your hoodie purchases extra special with beautifully
                    wrapped packages.</p>
            </div>
        </div>

        <div class="cta-button">
            <button>SHOP NOW & SAVE!</button>
        </div>
    </div>

    <div class="testimonials-section">
        <h2 class="section-title">What Our Customers Say</h2>

        <div class="testimonials">
            <div class="testimonial-card">
                <img src="img 10.webp" alt="Customer 1" class="testimonial-img">
                <p>I absolutely love my Maize hoodie! The quality is outstanding, and it keeps me warm and cozy during
                    the colder months. Highly recommend!</p>
                <h4>Sarah Davis</h4>
                <div class="star-rating">
                    ★★★★★
                </div>
            </div>

            <div class="testimonial-card">
                <img src="img 11.webp" alt="Customer 2" class="testimonial-img">
                <p>Maize hoodies are my go-to for both style and comfort. The designs are trendy, and the fit is
                    perfect. I get compliments every time I wear one!</p>
                <h4>Emily Johnson</h4>
                <div class="star-rating">
                    ★★★★★
                </div>
            </div>

            <div class="testimonial-card">
                <img src="img 12.webp" alt="Customer 3" class="testimonial-img">
                <p>I absolutely love my Maize hoodie! The quality is outstanding, and it keeps me warm and cozy during
                    the colder months. Highly recommend!</p>
                <h4>John Smith</h4>
                <div class="star-rating">
                    ★★★★★
                </div>
            </div>
        </div>
    </div>


    <div class="inspiration-section">
        <h2 class="section-title">Customer Styling Inspiration</h2>
        <p class="section-subtitle">We created this section with <strong>VIBE Shoppable Instagram Feed</strong> app</p>

        <div class="image-grid">
            <div class="grid-item"><img src="emg1.webp" alt="Customer 1"></div>
            <div class="grid-item"><img src="emg 2.webp" alt="Customer 2"></div>
            <div class="grid-item"><img src="emg 3.webp" alt="Customer 3"></div>
            <div class="grid-item"><img src="emg 4.webp" alt="Customer 4"></div>
            <div class="grid-item"><img src="emg 5.webp" alt="Customer 5"></div>
            <div class="grid-item"><img src="emg 6.webp" alt="Customer 6"></div>
            <div class="grid-item"><img src="emg 7.webp" alt="Customer 7"></div>
            <div class="grid-item"><img src="emg 8.webp" alt="Customer 8"></div>
        </div>

        <button class="see-more-btn">SEE MORE</button>
    </div>


    <div class="subscribe-section">
        <h2>Subscribe For Exclusive Updates</h2>
        <p>Get early access, special offers, and the latest releases. Join now and elevate your hoodie game!</p>
        <form class="subscribe-form">
            <input type="email" placeholder="Enter your email" required>
            <button type="submit">SUBSCRIBE NOW!</button>
        </form>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    
</body>

</html>